* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }

  .front{
    display: flex;
    background-color: rgb(5, 5, 5,0.9);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  